@import "base";

.team-count {
  /* border: 1px solid $dark-gray; */
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  width: 80px !important;
  background-color: darken($white, 2%);
}

.organization-container {
  min-height: 100px;
}
