= flash[:notice]

%div.col-md-8
  %h2.non-box-text Main
  %div.content-box
    %p This is a test.
    %p
      = link_to "Sign up", signup_path
      or
      = link_to "Log in", login_path
%div.col-md-4
  %h2.non-box-text Sidebar
  %div.content-box
    %p This is a test.
